<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>Classgettest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>StudentUnSusbcription</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>deactivateuser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>deleteeuser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GetRegionData</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CreateStudent</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>StudentSusbcription</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TokenGenerate</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
