<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f6e879">  <td>18/03/05 10:56:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Classgettest.CreateStudent()[pri:1, instance:Classgettest@39aeed2f]">CreateStudent</td> 
  <td>main@1596000437</td>   <td></td> </tr>
<tr bgcolor="f6e879">  <td>18/03/05 10:56:28</td>   <td>-6987</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Classgettest.GetRegionData()[pri:0, instance:Classgettest@39aeed2f]">GetRegionData</td> 
  <td>main@1596000437</td>   <td></td> </tr>
<tr bgcolor="f6e879">  <td>18/03/05 10:56:38</td>   <td>3029</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Classgettest.StudentSusbcription()[pri:2, instance:Classgettest@39aeed2f]">StudentSusbcription</td> 
  <td>main@1596000437</td>   <td></td> </tr>
<tr bgcolor="f6e879">  <td>18/03/05 10:56:40</td>   <td>5686</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Classgettest.StudentUnSusbcription()[pri:3, instance:Classgettest@39aeed2f]">StudentUnSusbcription</td> 
  <td>main@1596000437</td>   <td></td> </tr>
<tr bgcolor="f6e879">  <td>18/03/05 10:56:22</td>   <td>-13000</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Classgettest.TokenGenerate()[pri:0, instance:Classgettest@39aeed2f]">&gt;&gt;TokenGenerate</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1596000437</td>   <td></td> </tr>
<tr bgcolor="f6e879">  <td>18/03/05 10:56:44</td>   <td>8758</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Classgettest.deactivateuser()[pri:4, instance:Classgettest@39aeed2f]">deactivateuser</td> 
  <td>main@1596000437</td>   <td></td> </tr>
<tr bgcolor="f6e879">  <td>18/03/05 10:56:47</td>   <td>12032</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Classgettest.deleteeuser()[pri:5, instance:Classgettest@39aeed2f]">deleteeuser</td> 
  <td>main@1596000437</td>   <td></td> </tr>
</table>
